.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    height: 200px;
    object-fit: cover;
}

.btn-add-to-cart {
    background-color: #b0b0b0;
    color: #000;
    border: none;
    transition: all 0.3s ease;
}

.btn-add-to-cart:hover {
    background-color: #000;
    color: #fff;
}

.btn-buy-now {
    background-color: #000;
    color: #fff;
    border: none;
    transition: all 0.3s ease;
}

.btn-buy-now:hover {
    background-color: #de4c4c;
    color: white;
}

.filter-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#search-input {
    width: 250px;
}

#available{
    color: white;
}